n8n-backup.json
[{"createdAt":"2024-02-02T18:41:44.109Z","updatedAt":"2024-02-16T16:46:24.393Z","id":"y4a2OR3Sb0QEdWE3","name":"Backup","active":true,"nodes":[{"parameters":{},"id":"97512f3d-c5e8-4f34-9109-1ffc69ca0ccc","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[340,440]},{"parameters":{"fileSelector":"/home/node/n8n-backup.json","options":{}},"id":"f4b422b0-3c5a-4813-8430-ba82ef30a5b9","name":"Read/Write Files from Disk","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[780,520]},{"parameters":{"authentication":"webhook","content":"backup","options":{},"files":{"values":[{}]}},"id":"9242e3f9-e052-4459-8110-4a4a24f96ef5","name":"Discord","type":"n8n-nodes-base.discord","typeVersion":2,"position":[960,520],"credentials":{"discordWebhookApi":{"id":"SHIvf1CJuNGW5sOb","name":"Discord Webhook account"}}},{"parameters":{"command":"n8n export:workflow --all --output=/home/node/n8n-backup.json"},"id":"fcf39011-ee46-4847-b421-8dc5bdf84058","name":"Execute Command","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[600,520]},{"parameters":{"rule":{"interval":[{"triggerAtHour":23}]}},"id":"9ea438e9-6c14-4a2a-b2df-dcef23a55794","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[340,600]}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Execute Command","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Qatar","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"chGwdBYFlA1gGBhN"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"34958344-ca4e-4ad8-9720-bbcf49da30fc","triggerCount":1,"tags":[{"createdAt":"2024-02-15T08:08:24.349Z","updatedAt":"2024-02-15T08:08:24.349Z","id":"3YVw54NYVGlRrFWq","name":"system"},{"createdAt":"2024-02-15T08:08:39.127Z","updatedAt":"2024-02-15T08:08:39.127Z","id":"PSufoCKSvapmPpEM","name":"discord"}]},{"createdAt":"2024-02-07T10:34:52.673Z","updatedAt":"2024-02-17T15:00:00.017Z","id":"ycae9OtKqbf8NoN8","name":"Nyaa Rss Follow","active":true,"nodes":[{"parameters":{},"id":"b6ba5d95-ea8d-4381-b4b1-58dd553b982d","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[220,980]},{"parameters":{"resource":"database","databaseId":{"__rl":true,"value":"946029af-5a67-4ebe-8cab-fbda7c66c68a","mode":"list","cachedResultName":"AnimeRssTorrent","cachedResultUrl":"https://www.notion.so/946029af5a674ebe8cabfbda7c66c68a"}},"id":"9a61f062-7939-48bd-96d5-43c12526d9ad","name":"Notion","type":"n8n-nodes-base.notion","typeVersion":2.1,"position":[760,1060],"credentials":{"notionApi":{"id":"IkslWnQOfNX5Rmmn","name":"Notion account"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"simple":false,"options":{}},"id":"52616f82-cef8-4686-8bc3-1198dc75f6eb","name":"Notion1","type":"n8n-nodes-base.notion","typeVersion":2.1,"position":[920,1060],"credentials":{"notionApi":{"id":"IkslWnQOfNX5Rmmn","name":"Notion account"}}},{"parameters":{"options":{}},"id":"395c1589-7113-46bd-bf2f-b7eb2cb3044d","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1140,1000]},{"parameters":{"url":"={{ $json.properties['Rss Url'].formula.string }}","options":{}},"id":"991efc6b-5659-438e-94f8-6e319242e1df","name":"RSS Read1","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[1960,1200]},{"parameters":{"options":{}},"id":"b3491fc6-9667-4b43-a9be-9542fc46c1ac","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2600,1160]},{"parameters":{"amount":3,"unit":"seconds"},"id":"c3464608-e9e3-4474-a52d-98f2b653d7cf","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2760,1300],"webhookId":"b3d2563d-2f7f-4999-90a7-99994a61ba63"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n// for (const item of $input.all()) {\n//   item.json.myNewField = 1;\n// }\n\nreturn $input.all();"},"id":"51b477dc-fd0d-4663-9726-0acc80d014a5","name":"Code3","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,1080]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"65a248bf-f9a5-45c9-83db-36123096475c","leftValue":"={{ $json.properties['Last Check Time'].date }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c9fb3b99-0f1a-4d85-9b38-1a0d5af15bc0","name":"LastCheckTime is Not Empty","type":"n8n-nodes-base.if","typeVersion":2,"position":[1580,1080]},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Last Check Time|date","date":"={{ DateTime.now() }}","timezone":"Etc/GMT+3"}]},"options":{}},"id":"70576987-6127-455c-bb7e-73488d95816e","name":"Save LastCheckTime","type":"n8n-nodes-base.notion","typeVersion":2.1,"position":[1960,1360],"credentials":{"notionApi":{"id":"IkslWnQOfNX5Rmmn","name":"Notion account"}}},{"parameters":{"url":"={{ $json.properties['Rss Url'].formula.string }}","options":{}},"id":"97aceab1-a4fd-4bcb-8714-9e444992d634","name":"RSS Read2","type":"n8n-nodes-base.rssFeedRead","typeVersion":1,"position":[1960,1000]},{"parameters":{"jsCode":"let o = $('LastCheckTime is Not Empty').last().json.properties[\"Last Check Time\"].date.start;\n\nconsole.log(o);\n\nvar lastCheckDate = new Date(o);\n\n$input = $input.all().filter(item => {\n    let rssDate = new Date(item.json.pubDate);\n    return rssDate >= lastCheckDate; // Keep items with pubDate >= lastCheckDate\n});\n\nreturn $input;"},"id":"8db82cae-cd5b-43ef-9e3e-9be0379240f3","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2180,1000]},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Code3').item.json.id }}","mode":"id"},"simple":"=","propertiesUi":{"propertyValues":[{"key":"Last Check Time|date","date":"={{ DateTime.now() }}","timezone":"Etc/GMT+3"}]},"options":{}},"id":"82941538-ccef-4111-9893-8ff6b0d4e705","name":"Save LastCheckTime1","type":"n8n-nodes-base.notion","typeVersion":2.1,"position":[2540,900],"credentials":{"notionApi":{"id":"IkslWnQOfNX5Rmmn","name":"Notion account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"id":"a12b39a0-d3fc-4c07-8275-219560d23862","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[220,1140]},{"parameters":{"content":"Notify to Discord","height":377.60733537289246,"width":566.6791254331331,"color":4},"id":"5eef5571-420e-4a98-847a-10671bde846d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2506.770820595044,1130.7330866022332]},{"parameters":{"content":"## Read Rows From NOTION ","height":341.5515947400763,"width":608.4601707378201},"id":"d771c9c1-21af-4595-8c9c-ab7bca0a472b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[709.5138099120926,940]},{"parameters":{"method":"POST","url":"https://discord.com/api/webhooks/1204437839513911417/w6_ngY619CPNCk5iGhCAVhaPA4IWBosHL0l1vDpnDUac7NuydIMhGQq6IjEXt6zkTNV4","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json.title }} {{ $json.link }}\",\n  \"embeds\": null,\n  \"attachments\": []\n} ","options":{}},"id":"b2a4df3f-f352-4bf7-b5ae-4f1213cf27c7","name":"Webhook Discord","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2900,1300]},{"parameters":{"method":"POST","url":"https://discord.com/api/webhooks/1204437839513911417/w6_ngY619CPNCk5iGhCAVhaPA4IWBosHL0l1vDpnDUac7NuydIMhGQq6IjEXt6zkTNV4","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"Finished Checking at {{ DateTime.now() }}\",\n  \"embeds\": null,\n  \"attachments\": []\n} ","options":{}},"id":"1bbd4b87-7c2e-4998-b3ed-33d09a929f7b","name":"Notify that its Checked","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[760,1340]}],"connections":{"When clicking \"Test workflow\"":{"main":[[{"node":"Notion","type":"main","index":0}]]},"Notion":{"main":[[{"node":"Notion1","type":"main","index":0}]]},"Notion1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code3","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Webhook Discord","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"LastCheckTime is Not Empty","type":"main","index":0}]]},"LastCheckTime is Not Empty":{"main":[[{"node":"RSS Read2","type":"main","index":0}],[{"node":"RSS Read1","type":"main","index":0},{"node":"Save LastCheckTime","type":"main","index":0}]]},"RSS Read1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"RSS Read2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0},{"node":"Save LastCheckTime1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Notion","type":"main","index":0},{"node":"Notify that its Checked","type":"main","index":0}]]},"Webhook Discord":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Qatar","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"chGwdBYFlA1gGBhN"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[18]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"14f36564-e430-4d4f-bac2-587b09496568","triggerCount":1,"tags":[{"createdAt":"2024-02-15T08:08:35.249Z","updatedAt":"2024-02-15T08:08:35.249Z","id":"uUBneI5cpBAeGB8K","name":"anime"},{"createdAt":"2024-02-15T08:08:37.217Z","updatedAt":"2024-02-15T08:08:37.217Z","id":"DYMOzau3p3R95LAo","name":"rss"},{"createdAt":"2024-02-15T08:08:38.185Z","updatedAt":"2024-02-15T08:08:38.185Z","id":"Cc5X81WDycMLJLP6","name":"notion"},{"createdAt":"2024-02-15T08:08:39.127Z","updatedAt":"2024-02-15T08:08:39.127Z","id":"PSufoCKSvapmPpEM","name":"discord"}]},{"createdAt":"2024-02-16T16:29:45.145Z","updatedAt":"2024-02-16T16:42:54.816Z","id":"chGwdBYFlA1gGBhN","name":"Error Handling","active":false,"nodes":[{"parameters":{},"id":"9e5710e2-bce8-4585-9b26-afe4f570dad7","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[840,520]},{"parameters":{"method":"POST","url":"https://discord.com/api/webhooks/1204437839513911417/w6_ngY619CPNCk5iGhCAVhaPA4IWBosHL0l1vDpnDUac7NuydIMhGQq6IjEXt6zkTNV4","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"```json\\n{{ JSON.stringify($json, null, 2).replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n')}}```\",\n  \"embeds\": null,\n  \"attachments\": []\n}","options":{}},"id":"20b6f8ba-289d-4ca4-83f1-7900b5678b77","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1080,520]}],"connections":{"Error Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2f0102d9-d45f-40d0-8923-2f1d7fbb3595","triggerCount":0,"tags":[]},{"createdAt":"2024-02-07T11:27:35.585Z","updatedAt":"2024-02-07T20:10:29.524Z","id":"j98QzPrgi40ZEjP2","name":"soL News","active":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"mode":"everyX","value":5,"unit":"minutes"}]}},"name":"Cron","type":"n8n-nodes-base.cron","position":[380,240],"typeVersion":1,"id":"d87fff13-50c1-4a4d-b9dd-acbfd92c35cd"},{"parameters":{"url":"https://haber.sol.org.tr/rss.xml","options":{}},"name":"RSS Feed Read","type":"n8n-nodes-base.rssFeedRead","position":[550,240],"executeOnce":true,"typeVersion":1,"id":"a9bba0c7-f08d-4efd-8659-0ba8c0f1f328"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"Title","value":"={{$node[\"RSS Feed Read\"].json[\"title\"]}}"},{"name":"Subtitle","value":"={{$json[\"contentSnippet\"]}}"},{"name":"Author","value":"={{$json[\"creator\"]}}"},{"name":"URL","value":"={{$node[\"RSS Feed Read\"].json[\"link\"]}}"},{"name":"Date","value":"={{$node[\"RSS Feed Read\"].json[\"pubDate\"]}}"},{"name":"content","value":"={{$json[\"content\"]}}"}]},"options":{}},"name":"Filter RSS Data","type":"n8n-nodes-base.set","position":[720,240],"typeVersion":1,"id":"20b12bfb-6d42-47c3-9ae2-2eb0eae5acd6"},{"parameters":{"functionCode":"const staticData = getWorkflowStaticData('global');\nconst newRSSIds = items.map(item => item.json[\"Date\"]);\nconst oldRSSIds = staticData.oldRSSIds; \n\nif (!oldRSSIds) {\n  staticData.oldRSSIds = newRSSIds;\n  return items;\n}\n\n\nconst actualNewRSSIds = newRSSIds.filter((id) => !oldRSSIds.includes(id));\nconst actualNewRSS = items.filter((data) => actualNewRSSIds.includes(data.json['Date']));\nstaticData.oldRSSIds = [...actualNewRSSIds, ...oldRSSIds];\n\nreturn actualNewRSS;\n"},"name":"Only get new RSS1","type":"n8n-nodes-base.function","position":[890,240],"typeVersion":1,"id":"6d4bbdee-8e04-4cfb-8392-f7664c5c53fb"},{"parameters":{"options":{}},"id":"c76e28a1-0ca4-4d31-b9cb-3f7656c30a40","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1060,200]},{"parameters":{"method":"POST","url":"https://discord.com/api/webhooks/1204737930002960426/tQa5SA_UNFbDgJkeATZhpXm-7DWvsPPBT7Urkb0OA1cmRAbkFcIVBGaAVeHaO1XyuYiw","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content\": \"{{ $json[\"Date\"] }} {{ $json[\"URL\"] }}\",\n  \"username\": \"soL\"\n}","options":{}},"id":"e0c468e6-7849-48b4-8428-ba82627039bc","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1300,220]}],"connections":{"Cron":{"main":[[{"node":"RSS Feed Read","type":"main","index":0}]]},"RSS Feed Read":{"main":[[{"node":"Filter RSS Data","type":"main","index":0}]]},"Filter RSS Data":{"main":[[{"node":"Only get new RSS1","type":"main","index":0}]]},"Only get new RSS1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"global":{"oldRSSIds":["Wed, 07 Feb 2024 22:40:00 +0300","Wed, 07 Feb 2024 21:55:00 +0300","Wed, 07 Feb 2024 21:00:00 +0300","Wed, 07 Feb 2024 20:43:00 +0300","Wed, 07 Feb 2024 20:35:00 +0300","Wed, 07 Feb 2024 19:53:00 +0300","Wed, 07 Feb 2024 19:38:00 +0300","Wed, 07 Feb 2024 18:57:00 +0300","Wed, 07 Feb 2024 18:23:00 +0300","Wed, 07 Feb 2024 17:59:00 +0300","Wed, 07 Feb 2024 17:52:00 +0300","Wed, 07 Feb 2024 17:26:00 +0300","Wed, 07 Feb 2024 17:20:00 +0300","Wed, 07 Feb 2024 16:46:00 +0300","Wed, 07 Feb 2024 16:42:00 +0300","Wed, 07 Feb 2024 16:14:00 +0300","Wed, 07 Feb 2024 15:20:00 +0300","Wed, 07 Feb 2024 15:02:00 +0300","Wed, 07 Feb 2024 14:52:00 +0300","Wed, 07 Feb 2024 14:46:00 +0300","Wed, 07 Feb 2024 14:23:00 +0300","Wed, 07 Feb 2024 14:16:00 +0300","Wed, 07 Feb 2024 14:07:00 +0300","Wed, 07 Feb 2024 13:45:00 +0300","Wed, 07 Feb 2024 13:36:00 +0300","Wed, 07 Feb 2024 13:00:00 +0300","Wed, 07 Feb 2024 12:51:00 +0300","Wed, 07 Feb 2024 12:35:00 +0300","Wed, 07 Feb 2024 12:27:00 +0300","Wed, 07 Feb 2024 12:22:00 +0300","Wed, 07 Feb 2024 12:05:00 +0300","Wed, 07 Feb 2024 11:57:00 +0300","Wed, 07 Feb 2024 11:42:00 +0300","Wed, 07 Feb 2024 11:24:00 +0300","Wed, 07 Feb 2024 11:11:00 +0300","Wed, 07 Feb 2024 11:00:00 +0300","Wed, 07 Feb 2024 10:34:00 +0300","Wed, 07 Feb 2024 10:12:00 +0300","Wed, 07 Feb 2024 09:44:00 +0300","Wed, 07 Feb 2024 09:30:00 +0300","Wed, 07 Feb 2024 09:12:00 +0300","Wed, 07 Feb 2024 08:50:00 +0300","Wed, 07 Feb 2024 08:09:00 +0300","Wed, 07 Feb 2024 07:34:00 +0300","Wed, 07 Feb 2024 07:15:00 +0300","Wed, 07 Feb 2024 00:28:00 +0300","Wed, 07 Feb 2024 00:00:00 +0300","Wed, 07 Feb 2024 00:00:00 +0300","Tue, 06 Feb 2024 23:35:00 +0300","Tue, 06 Feb 2024 23:01:00 +0300","Tue, 06 Feb 2024 22:09:00 +0300","Tue, 06 Feb 2024 21:27:00 +0300","Tue, 06 Feb 2024 20:43:00 +0300","Tue, 06 Feb 2024 20:12:00 +0300","Tue, 06 Feb 2024 19:42:00 +0300","Tue, 06 Feb 2024 19:08:00 +0300","Tue, 06 Feb 2024 18:36:00 +0300","Tue, 06 Feb 2024 18:04:00 +0300","Tue, 06 Feb 2024 17:24:00 +0300","Tue, 06 Feb 2024 16:40:00 +0300","Tue, 06 Feb 2024 16:20:00 +0300","Tue, 06 Feb 2024 14:57:00 +0300","Tue, 06 Feb 2024 14:48:00 +0300","Tue, 06 Feb 2024 14:01:00 +0300","Tue, 06 Feb 2024 13:50:00 +0300","Tue, 06 Feb 2024 13:10:00 +0300","Tue, 06 Feb 2024 13:01:00 +0300","Tue, 06 Feb 2024 12:23:00 +0300","Tue, 06 Feb 2024 12:05:00 +0300","Tue, 06 Feb 2024 11:47:00 +0300","Tue, 06 Feb 2024 11:38:00 +0300","Tue, 06 Feb 2024 11:36:00 +0300","Tue, 06 Feb 2024 11:22:00 +0300","Tue, 06 Feb 2024 11:02:00 +0300","Tue, 06 Feb 2024 10:46:00 +0300","Tue, 06 Feb 2024 10:38:00 +0300","Tue, 06 Feb 2024 10:24:00 +0300","Tue, 06 Feb 2024 10:09:00 +0300","Tue, 06 Feb 2024 10:00:00 +0300","Tue, 06 Feb 2024 09:55:00 +0300","Tue, 06 Feb 2024 09:50:00 +0300","Tue, 06 Feb 2024 08:48:00 +0300","Tue, 06 Feb 2024 08:15:00 +0300","Tue, 06 Feb 2024 07:52:00 +0300","Tue, 06 Feb 2024 07:20:00 +0300","Tue, 06 Feb 2024 01:38:00 +0300","Tue, 06 Feb 2024 01:24:00 +0300","Tue, 06 Feb 2024 00:59:00 +0300","Tue, 06 Feb 2024 00:51:00 +0300","Tue, 06 Feb 2024 00:07:00 +0300","Tue, 06 Feb 2024 00:00:00 +0300","Tue, 06 Feb 2024 00:00:00 +0300","Tue, 06 Feb 2024 00:00:00 +0300","Tue, 06 Feb 2024 00:00:00 +0300","Mon, 05 Feb 2024 23:22:00 +0300","Mon, 05 Feb 2024 22:28:00 +0300","Mon, 05 Feb 2024 21:59:00 +0300","Mon, 05 Feb 2024 21:27:00 +0300","Mon, 05 Feb 2024 21:04:00 +0300","Mon, 05 Feb 2024 21:00:00 +0300","Mon, 05 Feb 2024 20:15:00 +0300","Mon, 05 Feb 2024 19:34:00 +0300","Mon, 05 Feb 2024 18:39:00 +0300","Mon, 05 Feb 2024 17:55:00 +0300","Mon, 05 Feb 2024 17:52:00 +0300","Mon, 05 Feb 2024 17:45:00 +0300","Mon, 05 Feb 2024 17:25:00 +0300","Mon, 05 Feb 2024 16:20:00 +0300","Mon, 05 Feb 2024 16:05:00 +0300","Mon, 05 Feb 2024 16:00:00 +0300","Mon, 05 Feb 2024 15:45:00 +0300","Mon, 05 Feb 2024 15:22:00 +0300","Mon, 05 Feb 2024 14:47:00 +0300","Mon, 05 Feb 2024 14:23:00 +0300","Mon, 05 Feb 2024 13:57:00 +0300","Mon, 05 Feb 2024 13:24:00 +0300","Mon, 05 Feb 2024 13:07:00 +0300","Mon, 05 Feb 2024 12:50:00 +0300","Mon, 05 Feb 2024 12:48:00 +0300","Mon, 05 Feb 2024 12:33:00 +0300"]}},"meta":{"templateCredsSetupCompleted":true,"templateId":"1309"},"pinData":{},"versionId":"14633bd2-789e-4625-ad79-117133ac6b00","triggerCount":1,"tags":[]}]